tmp/
log/
*.swp
.sass-cache
.DS_Store
config/default.vcl
JENKINS
BUILD_VERSION
*~
project.gemspec
assets/images/icons-*.png
assets/javascript/.remote/
assets/javascript/bundle-*.js
assets/javascript/main.js

*.css
.rvmrc
lib/*.ts
assets/javascript/host_map.js
